@font-face {
	font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
}

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	color: #ff3737;
	font-size: 1em;
	font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
	min-height: 500px;
}
header {
    background-color: #4B6983;
    padding: 10px;
    /* box-shadow: 0 1px 2px rgba(0,0,0,0.2); */
    position: relative;
    height: 85px;
    z-index: 5;
}
    
    
header h1 {
    width: 250px;
    height: 40px;
    display: inline-block;
    top: 50%;
    margin-top: 20px;
    padding-left: 10%;
}

header h1 a#logo {
    font-weight: bold;
    font-size: 32px;
    line-height: 1;
    color: #FFFFFF !important;
    text-decoration: none !important;
}
    
header h1 a#logo b {
    color: #D05151;
}
    
header nav {
    float: right;
    height: 40px;
    margin-top: 30px;
    padding-right: 10%;
}
    
    
header nav a {
    color: #eee !important;
    font-size: 18px;
    line-height: 1;
    display: inline-block;
    font-weight: bold;
    margin: 0 22px 10px 22px;
    text-decoration: none !important;
    position: relative;
}